* {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
#body{
    margin: 0;
    height: 100vh;
    width: 1400px;
}
#mainnav{
    background-color: rgb(19,19,30);
    color:antiquewhite;
    height: 67px;
    text-shadow: 2px 1px #e68341;
}
#mainnav ul{
    height: 100%;
    margin: 0;
    text-align: center;
    word-spacing: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainnav li{
    display: inline;

}
#mainnav a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem 2rem 1rem 2rem;
}
#mainnav a:hover{
    color: #e68341;
    text-shadow: 2px 1px white;
}

#error_link a{
    color: #e68341;
    text-shadow: 2px 1px white;
}

#error_link a:hover{
    color: white;
    text-shadow: 2px 1px #e68341;
}

#wrapper{
    height:400px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}
/* #jumbo {
    max-width: 100%;
    text-align: center;
} */
.container{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    flex-direction: column-reverse;
}
.rodeodrive{
    object-fit: cover;
    width: 100%;
}
.rodeoheading{
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 2rem;
    color: #e37e3a;
    font-weight: 900;
    text-shadow: 2px 1px white;
}

.page_text{
    color: black;
    text-shadow: none;
}


.Places_wrapper{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36,36,44);
}

.Places{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 550px;

}

.location_wrapper{
    height: 400px;
    width: 268px;
    background-color: rgb(19,19,30);
    border-radius: 8px;
    padding: 15px;
    line-height: 1.4;
}

.location{
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.locheading{
    color:white;
    margin-bottom: 5px;
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold;

}

.locdescription{
    color: white;
    display: flex;
}


.LA_Description{
    height: 600px;
    background-color: rgb(19,19,30);
    display: flex;
    justify-content: center;
    align-items : center;
}

.lawrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 990px;
    height: 320px;
    padding: 10px;
}
.content_wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.4;
}

.laphoto img{
    width: 300px;
    height: 210px;
}

.ladesc{
    color:white;
    text-align: justify;
    word-wrap: break-word;
    padding-right: 10px;
    margin-bottom: 10px;
}

.features{
    height: 700px;
    background-color: rgb(36,36,43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featurewrapper{
    width: 1010px;
}


.Hollywooddesc{
    color:white;
    width: 70%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 15px;
    text-align: justify;
    line-height: 1.5;
}

.Hollywoodwrapper{
    height: 178px;
    width: 249px;
}
.Hollywoodimg{
    height: 100%;
    width:100%;
}
.Hollywoodheading{
    font-size: 25px;
    margin-bottom: 15px;

}

.Hollywood{
    height: 195px;
    width:1010px;
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    align-items : center;
    flex-direction: row-reverse;
    justify-content: center;
}

.Beaches{
    height: 195px;
    width: 1010px;
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    align-items : center;
    justify-content: center;
}
.Beachesdesc{
    color:white;
    width: 70%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 15px;
    text-align: justify;
    line-height: 1.5;
}

.Beacheswrapper{
    height: 190px;
    width:260px;
}
.Beachesimg{
    height: 100%;
    width:100%;
}
.Beachesheading{
    font-size: 25px;
    margin-bottom: 15px;
    text-align: right;
}

.stick {
    width: 100%;
    height: 2px;
    background-color: #83464d;
    position: fixed;
    z-index: 132456;
}

#footer{
    height:185px;
    width: 1400px;
    background-color: rgb(16,16,25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.quote{
    display: flex;
    width:700px;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 47px;
}
.quotewrapper{
    width:385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.content{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author{
    height: 25px;
    margin-top: 10px;
}
.contact{
    height: 185px;
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    right: 24px;
}

.design{
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.design_by{
    margin-top: 30px;
    margin-bottom:15px;

}

.author-contact{
    height: 85px;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}

.author_contact{
    height: 85px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 20px;
    text-align: center;
}
.error {
    flex-direction: unset;
    background: linear-gradient(rgb(247 157 85),rgb(149 80 28));
    background-size: cover;
}

.errimg{
    filter: opacity(0.45);
}

.error-desc {
    height: 230px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #333;
}

.author_email:hover {
    text-decoration: underline;
}

.author_phonenumber:hover{
    text-decoration: underline;
}